body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

form {
  position: relative;
  background: white;
  padding: 40px 30px 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


h5 {
  position: absolute;
  top: -0.6em;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0 10px;
  font-size: 17px;
  line-height: 1;
  color: #333;
  font-weight: 500;
}



input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #ee3e75;
  outline: none;
}

button {
  background-color: #ee3e75;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d13568;
}
